

body{
	font-size: 10px;
	color: #fff;
	background-color: #61122f;
	font-family: 'oxygen',sans-serif;
	margin: 0px;
	padding: 0px;
	height:auto;
	width: 1360px;


}

	
/** Header**/
	.container{
	width:100%;
	margin-right: 0px;
	padding-right: 0px;
	padding-left: 0px;
	margin-left: 0px;
}
			
	#header-nav{
		width: 100%;
		height: 150px;
		margin-right: 0px;
		border: 0px solid black;
		background-color:blue;
		float: left;
		border-radius: 0px;

	}

	#logo-img {
		
		width: 150px;
		height: 100px;
		position: absolute;
		left: 10px;
		top: 10px;
		float:left;
		
		
	}
	
	.navbar-brand{
        padding-top:red;
        color: orange;
        position: absolute;
		left: 210px;
		top: 10px;
	}
	.navbar-brand h1{
		font-family: 'lora',serif;
		color: #557c3e;
		font-size: 2.2em;
		font-weight: bold;
		text-shadow: 1px 1px 1px #222;
		margin-top: 0px;
		margin-bottom: 0;
		line-height: .80;
		color: orange;
	
		}

	.navbar-brand a:hover, .navbar-brand a:focus{
		text-decoration: none;
	}
	.navbar-brand p{
		color: #000;
		font-size: .7em;
		margin-top: 15px;
	}
	.navbar-brand p span{
		vertical-align: middle;
	}
	.nav-brand {

        color: green;
         border: 0 0 10px 10px;
        font-size: 1.5em;
        position: absolute;
        top: 40px;
        left: 230px;
    }
	#nav-list{
		margin-top: 0px;
		background-color:blue;
		padding-top: 0px;

		position: absolute;
		right: 250px;
		overflow: none;
	}
	#nav-list a{
		color: orange;
		text-align: center;


	}
	#nav-list a:hover{
		background: #E7E7E7;

	}
	#nav-list a span{
		font-size: 1.8em;
	}

    
	#phone{
		margin-top: 5px;

	}
	#phone a{
		text-align: right;
		padding-bottom: 0px;
	
	}
	#phone div {
		color:orange;
		text-align: right;
		padding-right: 15px;
	}
	.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
        border: 1px solid #61122f;
	}
	.navbar-header button.navbar-toggle{
		clear:both;
		margin-top: -30px;
	}
	img {
    border-radius: 50%;
   position: absolute;
   right: -150px;
   overflow: none;
   margin-left: 10px;
}	


.content{
	position: absolute;
	bottom: 19px;
	right:90px;
}
.content a{
	position: absolute;
	right: 30px;
}
/*end of header*/
/*main containt*/
#main-content{
	height: 20%;
	width: 100%;
	background-color: yellow;
}
#span1{
	position: absolute;
	left: 0px;
	top :200px;
}


	/**large divces***/
	@media (min-width: 1200px) {

	}


 
       /************ medium device only **********************/
 @media (min-width: 992px) and (max-width: 1199px){
 	#logo-img {
		background: url('mf.png') no-repeat;
		width: 120px;
		height: 80px;
		margin: 5px 40px 5px 5px;
		float:left;
	}

 }



  /************ small device only **********************/
  @media (min-width: 768px) and (max-width: 991px){}




/************ extra small device only **********************/
  @media (max-width: 767px){ 
  	.navbar-brand{
  		padding-top: 10px;
  		height: 80px;
  	}
    .navbar-brand h1{
    	padding-top: 10px;
    	font-size: 5vw;
    }
    .navbar-brand p{
    	font-size: .6;
    	margin-top: 12px;
    }

    #collapsable-nav a{
    	font-size: 1.2em;
    }
    #collapsable-nav a span{
    	font-size: 1em;
    	margin-right: 5px;
    }
    
   }







